</div>
<!-- /page content -->
<!-- footer content -->
<footer>
    <div class="pull-right">
        Panel administrativo
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</div>
</div>
<!-- jQuery -->
<script src="~/Backend/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="~/Backend/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="~/Backend/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="~/Backend/vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="~/Backend/vendors/Chart.js/dist/Chart.min.js"></script>
<!-- gauge.js -->
<script src="~/Backend/vendors/gauge.js/dist/gauge.min.js"></script>
<!-- bootstrap-progressbar -->
<script src="~/Backend/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="~/Backend/vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="~/Backend/vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="~/Backend/vendors/Flot/jquery.flot.js"></script>
<script src="/v~/Backend/vendors/Flot/jquery.flot.pie.js"></script>
<script src="~/Backend/vendors/Flot/jquery.flot.time.js"></script>
<script src="~/Backend/vendors/Flot/jquery.flot.stack.js"></script>
<script src="~/Backend/vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="~/Backend/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="~/Backend/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="~/Backend/vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="~/Backend/vendors/DateJS/build/date.js"></script>
<!-- JQVMap -->
<script src="~/Backend/vendors/jqvmap/dist/jquery.vmap.js"></script>
<script src="~/Backend/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
<script src="~/Backend/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="~/Backend/vendors/moment/min/moment.min.js"></script>
<script src="~/Backend/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- Custom Theme Scripts -->
<script src="~/Backend/build/js/custom.min.js"></script>

</body>
</html>