<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/karma/img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title> <%= title %> </title>
    <!--
        CSS
        ============================================= -->
    <link rel="stylesheet" href="/karma/css/linearicons.css">
    <link rel="stylesheet" href="/karma/css/font-awesome.min.css">
    <link rel="stylesheet" href="/karma/css/themify-icons.css">
    <link rel="stylesheet" href="/karma/css/bootstrap.css">
    <link rel="stylesheet" href="/karma/css/owl.carousel.css">
    <link rel="stylesheet" href="/karma/css/nice-select.css">
    <link rel="stylesheet" href="/karma/css/nouislider.min.css">
    <link rel="stylesheet" href="/karma/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="/karma/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="/karma/css/magnific-popup.css">
    <link rel="stylesheet" href="/karma/css/main.css">
</head>

<body>
        <% if (signupMessage.lenght > 0){ %>
            <div class="alert alert-danger">
                <!--Muestra el texto-->
                <%= signupMessage%>
            </div>
        <% } %>
        <% if (signinMessage.lenght > 0){ %>
            <div class="alert alert-danger">
                <!--Muestra el texto-->
                <%= signinMessage%>
            </div>
        <% } %>
        
    <!-- Start Header Area -->
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="#"><img src="/karma/img/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="/">Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" href="/mision">Misión</a></li>
                            <li class="nav-item"><a class="nav-link" href="/vision">Visión</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contacto">Contacto</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Ingresar</a></li>
                            <li class="nav-item"><a class="nav-link" href="/signup">Registrar</a></li>
                            <li class="nav-item"><a class="nav-link" href="/portfolio">Portafolio</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item"><a href="#" class="cart"><span class="ti-bag"></span></a></li>
                            <li class="nav-item">
                                <button class="search"><span class="lnr lnr-magnifier" id="search"></span></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container">
                <form class="d-flex justify-content-between">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
    </header>
    <!-- End Header Area -->
    <!-- start banner Area -->

    <br />
    <!-- <div class="container">@RenderBody()</div> -->
    <!-- End banner Area -->
    <!-- start features Area -->
    
    <!-- end features Area -->
    <!-- Start category Area -->
    
    <!-- End category Area -->
    <!-- start product Area -->
    
    <!-- end product Area -->
    <!-- Start exclusive deal Area -->
    
    <!-- End exclusive deal Area -->
    <!-- Start brand Area -->
    
    <!-- End brand Area -->
    <!-- Start related-product Area -->
    
    <!-- End related-product Area -->