<%- include layouts/header.ejs %>



<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Misión</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Inicio<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Misión</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<section>
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p style="font-size: 22px; text-align: justify; color: black;">
                    Somos una empresa dedicada a la fabricación y venta de calzado, para damas, caballeros y niños.<br><br>
                    Nuestro compromiso es satisfacer las necesidades de nuestros clientes, cobrando bajo los principios de calidad, experiencia, servicio, cumplimiento y respeto por nuestros clientes dentro de la filosofía del mejoramiento continuo.
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>




  <%- include layouts/footer.ejs %>