<%- include layouts/header.ejs %>


<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Visión</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Inicio<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Visión</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<section>
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p style="font-size: 22px; text-align: justify; color: black;">
                    Ser líder en la elaboración de calzado a nivel nacional, ofreciendo productos innovadores y de
                    buena calidad contando con un equipo humano de gran desempeño y productividad dispuestos a brindar
                    calidad en los procesos y productos para satisfacer las necesidades de nuestros clientes contribuyendo
                    así con el desarrollo social.
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>

  <%- include layouts/footer.ejs %>